body,html {
    padding:0px;
    margin:0px;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "M PLUS Rounded 1c","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Helvetica, SegoeUI, sans-serif;
    text-align: center;
    font-size: 100px;
    color:#fff;
    /* text-shadow: 0 0px 10px rgba(0, 0, 0, 0.2); */
}
h2 {
    font-family: "M PLUS Rounded 1c","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Helvetica, SegoeUI, sans-serif;
    font-size:50px;
    /* text-shadow: 0 0px 10px rgba(0, 0, 0, 0.3); */
    color:#222;
}
h3{
    font-family: "M PLUS Rounded 1c","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo", Helvetica, SegoeUI, sans-serif;
    color:#222;
    font-size:22px;
    font-weight: normal;
}

.start {
    text-align:center;
    padding:0px;
    margin:0px;
    line-height: 1.4em;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1e90ff;
    z-index: 100;
}

.start img {
    width: 90%;
    position: relative;
}

input[type="button"]{
    text-align: center;
    position: relative;
    padding: 15px 20px;
    border-radius: 2px;
    font-size: 50px;
    outline: none;
    border: 2px solid #ddd;
    background: #eee;
    color: #222;
    max-width: 300px;
    width: 49%;
    box-sizing: border-box;
    -webkit-appearance: none;
}
input[type="button"]:hover {
    background: #ddd;
}
input[type="button"]:focus {
    background:rgba(63, 78, 100, 0.27);
    color:#222;
}




.map {
    z-index: 80;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}

#moomin_map{
    height: 100%;
    z-index: 80;
}

.stars{
    position: absolute;
    height: 6%;
    display: none;
    z-index: 81;
}




.landmark{
    z-index: 90;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}

#modal-overlay_lm{
    text-align: center;
    z-index:90;
    display: none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.lm_content{
    z-index:91;
    display:none;
    position: fixed;
    text-align: center;
    padding: 3px;
    border-radius: 2px;
    font-size: 18px;
    outline: none;
    border: 2px solid #ddd;
    background: #eee;
    color: #222;
    width: 80%;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.lm_content img{
    position: relative;
    width: 100%;
}



.ar {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    visibility: hidden;
    z-index: 0;
}

#video {
    left: 0;
    top: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 0;
}


.fade-img-box {
    width: 600px;
    height: 1000px;
    left:50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -500px;
    position: fixed;
    z-index: 1;
}

.fade-img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: none;
    z-index: 1;
}
   