body {
    margin: 0;
    background: #000;
}

.contents {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

#video {
    left: 0;
    top: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: -100;
}


.fade-img-box {
    width: 600px;
    height: 1000px;
    left:50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -500px;
    position: fixed;
}

.fade-img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: none;
}
   